<html>
<head>
    <title>Welcome</title>
</head>
<body>
	

<form action="/pump" method="POST">
	<input type="text" name="seconds">
	<button>Submit</button>
</form>
    Welcome to my website!
    <p>    
    	Lisa is cool
	</p>
	<p>
    Evan is less cool
	</p>
	<p>
    Matt is the coolest 
	</p>
	<p>
    we bouta water some plants
    <p>
</body>
</html>
